#box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 820px;
}

#box>form {
    width: 30%;
    background: #ffffff;
    border: solid 3px #000;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#box>form>button#init {
    padding: 6px!important;
    background: #000!important;
    font: bold 25px verdana;
    cursor: pointer;
    color: #ffffff;
}

#box>form>div {
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
}

#box>form>div>#input_box {
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;
    padding: 25px;
}

#box>form>div>#input_box>input {
    padding: 10px;
    width: 100%;
}

#box>form>div>#input_box>label {
    font-size: 20px;
    margin-bottom: 10px;
}